<!DOCTYPE html>
<html ng-app="ngIntlPhoneDemo">
    <head>
        <base href="../">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Phone Number Demo</title>

        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
        <!-- endbower -->

        <link rel="stylesheet" href="dist/css/ng-intl-phone.css">


    </head>
    <body ng-controller="MainCtrl as vm">
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/digits-trie/dist/digits-trie.js"></script>
    <script src="bower_components/google-libphonenumber/dist/browser/libphonenumber.js"></script>
    <script src="bower_components/bc-countries/dist/bc-countries.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <!-- endbower -->
        <div class="container">
            <h1>Phone Number Demo</h1>
            <form name="myForm">
                <ng-intl-phone name="number"
                                 ng-model="vm.theNumber"
                                 default-country="us"
                                 preferred-countries="us gb ca"
                                 is-valid="vm.isValid">
                </ng-intl-phone>
                <p>Is valid ngModel: <span ng-bind="myForm.number.$valid"></span></p>
                <p>Is valid: <span ng-bind="vm.isValid"></span></p>
                <p>Number: <span ng-bind="vm.theNumber"></span></p>
            </form>
            <!--<div class="form-group">-->
                <!--<input type="tel" class="form-control" ng-model="vm.newNumber" placeholder="Change number">-->
            <!--</div>-->
            <button type="button" class="btn btn-primary" ng-click="vm.theNumber = vm.newNumber">Change</button>
        </div>

        <!--<link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.css">-->

        <script src="dist/js/ng-intl-phone.js"></script>
        <script src="demo/demo.js"></script>
        <!--<script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.1/angular-material.min.js"></script>-->
    </body>
</html>
