
<section class="input-group">
    <ul class="ng-intl-phone-list">
        <li>
            <div class="md-menu-demo menudemoCustomTrigger" ng-cloak="" >
                <div class="menu-demo-container" layout="column">
                    <md-menu>
                        <md-button aria-label="Open menu with custom trigger" class="md-icon-button" ng-click="$mdOpenMenu()">
                            <i class="glyphicon iti-flag bc-phone-number-country-icon" ng-class="selectedCountry.iso2Code"></i>
                        </md-button>
                        <md-menu-content width="10" ng-click="$mdMenu.close()">
                            <md-menu-item ng-repeat="country in preferredCountries" ng-class="{active: isCountrySelected(country)}" ng-click="selectCountry(country)">
                                <md-button ng-click="$event.preventDefault()"  aria-label="country.name" class="bc-phone-number-country-anchor">
                                    <i class="glyphicon iti-flag bc-phone-number-country-icon" ng-class="country.iso2Code"></i>
                                    <span ng-bind="country.name"></span>
                                </md-button>
                            </md-menu-item>

                            <md-menu-item ng-repeat="country in allCountries"
                                          ng-class="{active: isCountrySelected(country)}"
                                          class="ng-intl-phone-downdown-menu-divider"
                                          ng-click="selectCountry(country)">
                                <md-button ng-click="$event.preventDefault()"  aria-label="country.name" class="bc-phone-number-country-anchor">
                                    <i class="glyphicon iti-flag bc-phone-number-country-icon" ng-class="country.iso2Code"></i>
                                    <span ng-bind="country.name"></span>
                                </md-button>
                            </md-menu-item>
                        </md-menu-content>
                    </md-menu>
                </div>
            </div>
        </li>
        <li>
            <input type="tel"
                   name="{{name}}"
                   id="{{name}}"
                   class="form-control"
                   ng-model="number"
                   ng-disabled="ngDisabled"
                   ng-change="changed()"/>
        </li>
    </ul>
</section>
