


<section class="input-group">
    <label for="{{name}}" ng-if="label">{{label}}</label>
    <ul>
        <li>
            <div class="input-group-btn" uib-dropdown uib-keyboard-nav>
                <!--<label>Country</label>-->
                <!--<md-select ng-model="country" ng-selected="defaultCountryCode" aria-label="Country">-->
                    <!--<md-option ng-repeat="country in allCountries" ng-value="selectedCountry.name" value="selectedCountry.name" >-->
                        <!--<i class="glyphicon iti-flag bc-phone-number-country-icon" ng-class="country.iso2Code"></i> {{country.name}}-->
                    <!--</md-option>-->
                <!--</md-select>-->


                TODO: Check agentui for solution on onClick button drop down without jQuery
                <ul class="uib-dropdown-menu bc-phone-number-dropdown-menu ng-intl-phone-dropdown-menu" role="menu">
                    <li ng-repeat="country in preferredCountries" ng-click="selectCountry(country)"
                    ng-class="{active: isCountrySelected(country)}" role="menuitem">
                        <a href="#" ng-click="$event.preventDefault()" class="bc-phone-number-country-anchor">
                            <i class="glyphicon iti-flag bc-phone-number-country-icon" ng-class="country.iso2Code"></i>
                            <span ng-bind="country.name"></span>
                        </a>
                    </li>
                    <li role="separator" class="ng-intl-phone-downdown-menu-divider" ng-show="preferredCountries && preferredCountries.length"></li>
                        <li ng-repeat="country in allCountries" ng-click="selectCountry(country)"
                            ng-class="{active: isCountrySelected(country)}" role="menuitem">
                            <a href="#" ng-click="$event.preventDefault()" class="bc-phone-number-country-anchor">
                                <i class="glyphicon iti-flag bc-phone-number-country-icon" ng-class="country.iso2Code"></i>
                                <span ng-bind="country.name"></span>
                            </a>
                    </li>
                </ul>
            </div>
        </li>
        <li>
            <input type="tel"
               name="{{name}}"
               id="{{name}}"
               class="form-control"
               ng-model="number"
               ng-disabled="ngDisabled"
               ng-change="changed()"/>
        </li>
    </ul>

</section>
